<h1>Pages#about</h1>
<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg" , width: 300 , alt: "Profile" %>
	</div>
	<div class="col-md-8">
		<p>Hi ,my name is karthik raj krishnamoorthy am from tamilnadu trichy. And am currently living in chennai. I was a full-stak developer and working in chennai as a sofware engineer</p>
	</div>
</div>
